*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

header, footer{
    display: flex;
    align-items: center;
}

nav{
    display: inline-block;
    width: 70%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    width: 30%;
    height: 20%;
}

.footer-item{
    display: inline-block;
    padding: 0 30px;
}

table{
    border: 1;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid black;
   }

th {
    background: #b0e0e6;
   }